* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.form-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    text-align: left;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #9cbacb;
    color: #fff;
    border: none;
    border-radius: 5px;
    
    
font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #5e6f79;
}

#errorMessage {
    color: red;
    
    
margin-top: 15px;
    font-size: 14px;
}
